<div class="container mt-5">
  <h2 class="text-center">Detalhes do dia {{diaDaAtividade}}</h2>
</div>
<table class="table table-bordered table-light table-striped mt-5">
  <thead style="opacity: 90%; background-color: black; color: white;">
    <tr>
      <th class="text-center" *ngFor="let colu of cab">{{colu}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tp of tasksPost">
      <td><button type="button" class="btn btn-danger btn-sm" style="margin: auto; display:block" (click)="confirmarExcluir()">X</button></td>
      <td class="text-center">{{tp.titulo}}</td>
      <td class="text-center">{{tp.Projeto}}</td>
      <td class="text-center">{{tp.tipoDaAtividade}}</td>
      <td class="text-center">{{tp.Descricao}}</td>
      <td class="text-center">{{tp.horaDeInicio}}</td>
      <td class="text-center">{{tp.horaTermino}}</td>
      <td class="text-center">{{tp.tempoDaAtividade}}</td>
    </tr>
  </tbody>
</table>